
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="row" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            Access denied. Please check your permission settings or contact the helpdesk.
        </div>
    </div>
</div>

