@model LeftRover.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row" style="padding-top: 20px;">
    <div class="col-md-4">
        <form method="post">
            <legend>Login to your account.</legend>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email:</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="custom-control custom-checkbox">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">@Html.DisplayNameFor(m => m.RememberMe)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>